**Variables**, **Expression**, **and** **Standards**


*   Fixes values such as numbers, letters, and Strings are called constants because their values does not change
*   String Constants use singles (') or (") double quotes.

In [ ]:
print("Hello Jitesh welcome back, Do well")

Hello Jitesh welcome back, Do well

In [ ]:
print(98*98*98*8)

7529536

****RESERVE WORDS****


**False, class, return, is, finally, None, if, for, lambda, continue, True, def, from, white, nonlocal, and, global, not, with, as elif, try, or, yield, assest, else, import, pass, break, except, in, raise**

****VARIABLES****


*   A variable is a named place in the memory where a programmer can store data later retrive the data using the variable "name"
*   Programmers get to choose the name of the variables

*   You can change the contents of a variable in a later statements

In [ ]:
x = 12.2
y = 14
print(x,y)

12.2 14

In [ ]:
x = 144
y = 14
print(x,y)

144 14



> **Python variable Name rules**


1.   Must start with a letter or underscore_
2.   Must consists of a letters, numbers and underscores

1.   Case sensitive

**GOOD** : spam, eggs, spam23 _spam

**BAD** : 23spam,   #sign, var.12

**DIFFERENT** : Spam, spam, SPAM

##**ASSIGMENT STATEMENTS**

We assign a value to a variable using the assignment statements (=)

An assignments statements consists of an expression on the right hand side and a variable to store the results.

In [ ]:
x = 3.9*0.6*(1-0.6)
print(x)

0.9359999999999999

##**Order of Evaluation**



1.   Parenthesis are always respected
2.   Exponentation( Raise to a power)

1.   Multiplication, Division and Remainder
2.   Addition & substraction

1.   Left to right

In [ ]:
inp = input('Write lift number of europe:')
usf = int(inp)+1
print('us floor', usf)

Write lift number of europe:66
us floor 67

##**CONDITIONAL EXECUTION**
Boolean expressions ask a question and produce True or False


*   ">" less than
*   ">=" less than or equal to

*   "==" equal to

*   "<" greater than
*   "<=" greater than or equal to


*   "!=" Not equal

##**INDENTATION**


*   **Increase indent** indent after an if statement or for statement (after:)
*  **Maintain indent** to indicate the scope of the block(which lines are effected by the if/for)

*   **Reduce indent** back to the level of the if statement or for statement to indicate the end of the block
*   **Blank lines** are ignored- they do not affect identation

*   **Comments** on a line by themselves are ignored with regard to identation

In [ ]:
inp = int(input("enter an integer"))
x = inp
if x==5:
  print(x)
elif x<5:
  print(x,'is less than 5')
else:
  print(x, 'is greater than 5')

enter an integer-2
-2 is less than 5

##**The Try and Except Statements**##


*   You surround a dangerous section of code with try and except
*   If the code in the try works- the except is skipped

*   If the code in the try fails- it jumps to the except section

In [ ]:
astr = "Hello Jitesh"
try:
  istr = int(astr)
except:
  istr = -1
print("first", istr)

first -1

In [ ]:
astr = "123"
try:
  istr = int(astr)
except:
  istr = -1
print('second',istr)

second 123

In [ ]:
astr = "Hello Jitesh"
try:
  print("I am here")
  istr = int(astr)
  print("I am after blown of code")        #Beware of this technique as soon as try statements gets executed and it gets false,
                                            #python will move directly to except: whether there is line of code or not.
except:
  istr = -1
print("first", istr)

I am here
first -1

In [ ]:
rstr = input("Enter a number: ")

try:
    istr = int(rstr)
except ValueError:
    print("Not a number")
else:
    if istr >= 0:
        print("Entered numered is a positive", istr)
    elif istr < 0:
        print("Entered number is negative", istr)

Enter a number: -222222
Entered number is negative -222222

In [ ]:
rstr = input("Enter a number: ")
try:
    istr = int(rstr)
except ValueError:
    istr = -1

if istr == -1:
    print("Not a number")
elif istr >= 0:
    print("Entered a positive number", istr)
else:
    print("Entered number is negative", istr)

Enter a number: -1
Not a number

##**PYTHON FUNCTION**##


*   There are two kinds of functions in python.
    
*   Built_in function that are provided as a part of python- print(),input(),
type(),float(),int()
        
* Functions that we define ourself and then use

*  We treat buit-in function words as a new reserve word

##**FUNCTION DEFINITION**##

*   A function is some reusable code that takes arguments(s) as input and then returns a result or results
* We call/invoke the functions by using the function name, parenthesis, and arguements in an expression
* We define function by using reserve word def:

In [ ]:
big= max("Hello world")
print(big)

w

In [ ]:
tiny = min("Helloworld")
print(tiny)

H

##**ARGUEMENTS**



*   An arguements is a value we pass into the function as its input when we call the function.
*   We use arguements so we can direct the function to do different kinds of work when we call it at different times
*   We put arguements in the parantheses after the name of the function.

##**PARAMETERS**  

A parametre is a variable which we use in the function definition. It is a "handle" that allows the codes in the function to access the arguemnets for a particular function invocations.

In [ ]:
def greet(lang):
  if lang == 'es':
    print("hello")
  elif lang == "hindi":
    print("Namaste")
  else:
    print("Hello how are u")

print(greet("h"))

Hello how are u
None

##**RETURN VALUES**

often a function will takes its arguements, do some computation and return a value to be used as a value of the function call in the calling expression.

In [ ]:
def greet():
  return "hello"

print(greet(), "Jitesh")
print(greet(), "Anoop")

hello Jitesh
hello Anoop

##**LOOPS AND ITERATIONS**

**LOOPS**   have iterabale variables that change each time through a loop. Often these iterations variables go through a sequences of numbers

In [ ]:
n=5
while n>0:
  print(n)
  n=n-1
print("done",n)

5
4
3
2
1
done 0

##**BREAKING OUT OF LOOP**


*   The break statements ends the current loop and jumps to the statements immediately following the loop
*   It is like a loop test that can happen anywhere in the body of the loop

In [ ]:
while True:
  line = input('>')
  if line =="done":
     break
  print(line)
print("done")

>I love my india
I love my india
>RCB
RCB
>DONE
DONE
>done
done

##**FINISHING AN ITERATIONS WITH CONTINUE**

The contniue statements ends the current iterations and jumps to the top of the loops and statrs the next iterations

In [ ]:
while True:
  line = input('>')
  if line[0] == "#":
    continue
  if line == "done":
    break
  print(line)
print("completed")

>#Eeee
>FFF
FFF
>#HHHDGH
>done
completed

##**INDEFINITE LOOPS**


*   While loops are called "indefinite loops" because they keep going until a logical condition becomes False
*   The loops we have seen so far are pretty easy to examine to see if they will terminate or if they will be "infinte loops"
* Sometimes it is a little harder to be sure if a loop will terminate

##**DEFINITE LOOPS**


*   Quite often we have a list of items of the lines in a file - effectiviely a finite set of things.
*   We can write a loop to run the loop once for each of the items in a set using python for construct.
* These loops are called definite loops because they execute an exact number of times.
* We say that " definite loops iterate through the members of a set.

In [ ]:
for i in range(1,10):
  print(i**2)
print("out of the loop")

1
4
9
16
25
36
49
64
81
out of the loop

In [ ]:
friends = ['Abhishek', 'Anoop', 'Ravi B']
for i in friends:
  print("Happy new year", i)
print('Done doing this')

Happy new year Abhishek
Happy new year Anoop
Happy new year Ravi B
Done doing this

In [ ]:
#2:32:34

In [ ]:
#write a function to find factorial of a given number

def factorial(n):
  if n<0:
    return "factorial is not possible for negative number"
  elif n ==0 or n ==1:
    return " factorial is 1"
  else:
    result =1
    for i in range(2, n+1):
      result = result *i
    return result

inp = int(input("Write a number to calculate the factorial:"))
fact = factorial(inp)
print("the factorial of a given number",inp,"is",fact)

Write a number to calculate the factorial:5
the factorial of a given number 5 is 120

In [ ]:
# Write a function that takes two numbers and returns
def add(a,b):
  return (a+b)

print(add(44,4))

48

In [ ]:
# Write a function is_even that takes a number
def is_even(n):
  if n%2==0:
    return "Number is even"
  else:
    return "number is odd"

inp = int(input("write a number to check whwteher it is even or odd:"))
chec = is_even(inp)
print(chec)

write a number to check whwteher it is even or odd:7
number is odd

In [ ]:
#Write a function is_prime(n) that checks if a given number n is a prime number.

def is_prime(n):
  if n == 1:
    return False
  for i in range(2,n):
    if n%i ==0:
      return False
    else:
      return True
inp = int(input("Write a number to check whether it is prime or not:"))
chec= is_prime(inp)
print(chec)

Write a number to check whether it is prime or not:3
True

In [ ]:
def factorial(n):
  if n<0:
    return "Factorial of negative number is not defined"
  if n ==0 or n ==1:
    return 1
  else:
    return n*factorial(n-1)
inp = int(input("enter num to compute factorial:"))
print(factorial(inp))

enter num to compute factorial:-5
Factorial of negative number is not defined

In [ ]:
def fibannouci(n):
  if n ==0:
    return 0
  if n==1:
    return 1
  else:
    return fibannouci(n-1) + fibannouci(n-2)
inp = int(input("enter n:"))
print(fibannouci(inp))

enter n:2
1

In [ ]:
def fact(n):
  if n<0:
    return "factorial of negative number is not defined"
  elif n==0 or n==1:
      return 1
  else:
    result =1
    for i in range(2,n+1):
      result = result *i
      print(result)

In [ ]:
def factorial(n):
  if n<0:
    return "factorial is not defined for negative number"
  elif n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
inp = int(input("Enter number to compute factorial:"))
print(factorial(inp))

Enter number to compute factorial:122
98750442008336013624115798714482080125644041369783596059584700502676714572050143649033796427745042294071023050579626404736512939596842694895821378210620013388054747214795243520000000000000000000000000000

In [ ]:
def fibn(n):
  if n == 0:
    return 0
  if n ==1:
    return 1
  else:
    return fibn(n-1)+fibn(n-2)

In [ ]:

largest_num = -1
for num in [9,14,13,3,74,15]:
  if num > largest_num:
    largest_num = num
print(largest_num)
print("after")

74
after

To count how many times we executed a loop, we introduce a counter variable that starts at 0 we add 1 to each time through the loop

In [ ]:
counter = 0
for i in [9,14,13,3,74,15]:
  counter +=1
  print(counter, i)
print(counter)

1 9
2 14
3 13
4 3
5 74
6 15
6

In [ ]:
l =[9,14,13,3,74,15]
sum=0
for i in l:
  sum = sum +i
print(sum)

128

In [ ]:
# find largest number in a given series
l = [9,14,13,3,74,15]
compare = -1
for i in l:
  if i>compare:
    compare = i
print(compare)

74

In [ ]:
#find the average in a loop
l = [9,14,13,3,74,15]
sum =0
count =0
for i in l:
  count = count+1
  sum =sum + i
  print(count)
  print(sum)
print(count,sum,sum/count)

1
9
2
23
3
36
4
39
5
113
6
128
6 128 21.333333333333332

In [ ]:
# find the number greater than 20 in the given lists.

l = [9,14,13,3,4,5]

for value in l:
    if value >20:
       print(value)
if value <20 :
  print('all num are less than 20')

all num are less than 20 True

In [ ]:
#Search using boolean variable
l = [9,14,13,3,4,5]

found = False
for num in l:
  if num ==3:
    found = True
    print(found, num)
print("After",found)

True 3
After True

In [ ]:
l = [9,14,13,3,4,5]

greatest = l[0]
for num in l:
  if  num< greatest:
    greatest = num
print(greatest)

3

In [ ]:
l = [9,14,13,3,4,5]
greatest = None
for num in l:

5

In [ ]:
l = [9, 14, 13, 3, 4, 5]

greatest = None
for num in l:
    if greatest is None:
        greatest = num
    elif num > greatest:
        greatest = num
print(greatest)

14

In [ ]:
l = [9, 14, 13, 3, 4, 5]
greatest =l[0]
for num in l:
    if num > greatest:
        greatest = num
print(greatest)

14

In [ ]:
# Finding the smallest number
smallest = None
print("before")
for value in [9, 14, 13, 3, 4, 5]:
    if smallest is None:
        smallest = value
    if smallest > value:
        smallest = value
print(smallest)

before
3

* Python has is operator that can be used in logical expressions
* Implies **"is the same as"**
* Similiar to **==** but stronger too
* **is not** also a logical operator
* For safety side use **is** as operator with boolean and
none

In [ ]:
0 ==0.0

True

In [ ]:
0 is 0.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-6aaf729ba8f4>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0 is 0.0

False

### **STRING DATA TYPE**

* A string is a sequences of charecters
* A strings literally uses quotes
* For string **'+'** means concatenate
* When strings contains number it is still a strings
* We can convert string number into int as int() function

In [ ]:
print("hello"+ " "+ "world")

hello world

* We can get at any single character in a string using an index specified in **square brackets**
* The index value must be integer and starts with 0
* The index value can be an expression that is computed

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

for index, char in enumerate(s):
    print(index, char)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [ ]:
letters = "Banana"
letters[0]

'B'

In [ ]:
let = "jitesh"
count = 0
for i in let:
    i = count
    count += 1
print(count)

6

In [ ]:
# define a function to count number of character in a given string

def string_count(s):
     count = 0
     for i in s:
        i = count
        count +=1
     print(count)

strin = input("Write a string to count characters:")
string_count(strin)

Write a string to count characters:Jitesh Srivastava
17

### **Looping through strings**

Using a while loop and an iterable variable, and the len() function. We can construct a loop to look at each of the letter in a string individualy.

In [ ]:
fruit = 'oranges'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter,index)
    index += 1

o 0
r 1
a 2
n 3
g 4
e 5
s 6

In [ ]:
name = "jitesh"
index = 0
while index < len(name):
    letter = name[index]
    print(index, letter)
    index += 1

0 j
1 i
2 t
3 e
4 s
5 h

In [ ]:
name = "jitesh"
count = 0
for i in name:
    i = count
    count += 1
print(count)

6

In [ ]:
l = [6,9,9999,555,878767,909]

numbers = l[0]

for num in l:
    if num > numbers:
        numbers = num

print(numbers)

878767

In [ ]:
name = "jitesh"

for l in name:
    print(l)

j
i
t
e
s
h

* A Definte loop using for statements is much more elegant
* The iterable variable is completely taken care of by the for loop

In [ ]:
print("result using for loop")
fruit = "oranges"

for i in fruit:
    print(i)

print("Results using while loop")
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index += 1

result using for loop
o
r
a
n
g
e
s
Results using while loop
o
r
a
n
g
e
s

### **LOOPING AND COUNTING**

This is a simple loop through each letter in a strings and counts the number of times loop encounters 'a' character

In [ ]:
word = "banana"

count = 0

for i in word:
    if i == "a":
        count += 1
    print(count)
print(count)

0
1
1
2
2
3
3


### Looking deeper into in
* The iteration variable "iterates" through the sequence(ordered set)
* The block(body) of code is executed once for each value in the sequence
* The iteration variables moves through all of the values in the sequence

for letter in "banana":   
* Here letter is "**itereable variable**" and "banana" is a string

### **SLICING STRINGS**
* We can also look at any continous section of a string using a : colon operator
* The second number is one beyond the end of the slice - "upto but not including"
* if the second number is beyond the  end of the string it stops at that end

In [ ]:
s = "Jeetesh Kumar Srivastava"
print(s[0:8]) #read as s sub zero through 8
print(s[2:15])
print(s[0:56])
print(s[1:5])
print(s[:])

Jeetesh
etesh Kumar S
Jeetesh Kumar Srivastava
eete
Jeetesh Kumar Srivastava

### **Using in as a logical operator**

*   The **in** keyword can also be used to check to see if one string is in other string
*   The in expression is logical expression that returns True or False and can be in if statements

In [ ]:
fruits = "banana"
"n" in fruits
if "a" in fruits:
    print("a is present in fruits")

a is present in fruits

In [ ]:
word = "banana"
if word == "banana":
    print("All right", word)

All right banana

In [ ]:
word = "banana"
word.upper()

'BANANA'

In [ ]:
print("hi there".upper())

HI THERE

In [ ]:
dir(word)
word.count("a")

3

In [ ]:
s = "Hello Jitesh How are u?"
s.replace('Hello',"Hola")

'Hola Jitesh How are u?'

### **Stripping Whitespaces**


*   Sometimes we want to take a string and removes whitespaces at the beginning and/or end.
*   lstrip(), and rstrip() removes whitespaces at left or right
* strip() removes both beginning and ending whitespace

In [ ]:
x = "   hello bob   "
print(x.lstrip())
print(x.rstrip())
print(x.strip())

hello bob
   hello bob
hello bob

In [ ]:
line = "Smoking is injurious to health"
print(line.startswith("Smoking"))
print(line.startswith("s"))

True
False

### **Parsing and Extracting**

In [ ]:
data = "https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"

atpos = data.find('.com')
print(atpos)

uptpos = data.find("#")
print(uptpos)

extr = data[atpos+1:uptpos]
print(extr)

19
45
com/mail/u/0/?tab=rm&ogbl

In [ ]:
l = [2, 44, 8, 0, 55645, 8318]

lsorted = sorted(set(l))
print(lsorted)
print(lsorted[1])
print(lsorted[-2])

[0, 2, 8, 44, 8318, 55645]
2
8318

### **LIST**
* A set of rules or steps used to solve a problem is called as **Algorithm**
* A particular way of organizing data in a computer is called as **Data structures**

A list is a kind of collection

* A collection allows us to put many values in a single variable.
* A collection is nice because we can carry many values around in one conventional packages.

e.g --
friends = ['Anoop', 'Ritesh']

* List constants are surrounded by square brackets and the elements in the list are seperated by commas.
* A list can be any python object- even another list
* A list can be empty.

In [ ]:
type([2,3,4,5,6])

list